.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
}

@media (min-width: 48em) {
  .row {
    flex-direction: row;
    align-items: center;
    gap: 0.65rem;
    flex-wrap: wrap;
  }
}
